<ion-view  view-title="Services" ng-controller="ApprovedserviceCtrl" class="approvedservices"> 
    <ion-header-bar align-title="center" class="common-header">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          <h1 class="title">Approved Services</h1>
    </ion-header-bar>
    <ion-content class="has-header main-content">
    <ion-scroll>
        <h4>Services</h4>
        
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
              
            <input type="text" placeholder="Search Requests.." ng-model="searchrequest" />
<!--
            <a ng-if="searchrequest.length" type="button" class="button button-icon ion-android-close input-button clear" 
                    ng-click="clearsearch();"></a>
-->
            
          </label>
        </div>
                
        <ion-list ng-show='showRequest'>
          <ion-item  ng-repeat="requests in approvedservices | orderBy:'JOB.CreatedDate':true | filter:{JOB: {JobName: searchrequest}}" class=" item-icon-right" ui-sref='app.viewapprovedservice({ JobRequestId: requests.JobRequestId})' >
            <h2>{{requests.JOB.JobName}}</h2>
            <p>Status : {{requests.JOB.JobStatus}}</p>
<!--
            <p ng-if="requests.JobStatus == 1">Status : Pending</p>
            <p ng-if="requests.JobStatus == 2">Status : Approved</p>
            <p ng-if="requests.JobStatus == 3">Status : Rejected</p>
            <p ng-if="requests.JobStatus == 4">Status : Processed</p>
-->
            <span am-time-ago="requests.JOB.CreatedDate"></span>  
<!--            <a class="subdued">Service Created On :{{requests.JOB.CreatedDate | amDateFormat:'MM.DD.YYYY'}}</a> -->
            <i class="icon ion-chevron-right"></i>
          </ion-item>
       </ion-list>
       <div class="row" ng-hide='showRequest'>
            <div class="col">
                <p> No New Services.</p>
            </div> 
       </div>    
    </ion-scroll>
    </ion-content>
</ion-view>