<ion-view title="Edit" class="" ng-controller="EditprofileCtrl">
    <ion-header-bar align-title="center" class="common-header">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Edit Profile</h1>
        <button class="button button-icon icon ion-close" ui-sref='app.profile'></button>    
    </ion-header-bar>
    <ion-content class="has-header main-content editprofile">
        <ion-scroll>
            <div class="row">
                <div class="col">
                    <form name="edituserform" novalidate='' >    
                    <div class="list">
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">First Name </span>
                        <input type="text" ng-model='edituser.firstname' name='firstname' required ng-maxlength="20" ng-minlength="3">
                      </label>
                      <label ng-messages="edituserform.firstname.$dirty && edituserform.firstname.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your first name</span>
                                <span ng-message="minlength">Your field is too short</span>
                                <span ng-message="maxlength">Your field is too long</span>
                      </label>    
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Middle Name</span>
                        <input type="text" ng-model='edituser.middlename' name="middlename" ng-maxlength="20" ng-minlength="0">
                      </label>
                      <label ng-messages="edituserform.middlename.$dirty && edituserform.middlename.$error" style="color:#F70000" role="alert">
                                <span ng-message="minlength">Your field is too short</span>
                                <span ng-message="maxlength">Your field is too long</span>
                      </label>    
                        
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Last Name</span>
                        <input type="text" ng-model="edituser.lastname" name="lastname" required ng-maxlength="20" ng-minlength="1">
                      </label>  
                      <label ng-messages="edituserform.lastname.$dirty && edituserform.lastname.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your Last name</span>
                                <span ng-message="minlength">Your field is too short</span>
                                <span ng-message="maxlength">Your field is too long</span>
                      </label>    
                        
<!--
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="edituser.email" required>
                      </label>
-->
                      <label ng-messages="edituserform.email.$dirty && edituserform.email.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your email</span>
                                <span ng-message="email">Not a valid email</span>
                      </label>    
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile No.</span>
                        <input type="text" name="mobile" ng-model="edituser.mobile" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
                       </label> 
                      <label ng-messages="edituserform.mobile.$dirty && edituserform.mobile.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your mobile no.</span>
                                <span ng-message="pattern">Not a valid mobile no.</span>
                      </label>  
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Gender</span>
                        <select ng-model="edituser.gender" name='gender'  required>
                            <option value="M" ng-selected="profile.description.Gender == 'M' ">Male</option>  
                            <option value="F" ng-selected="profile.description.Gender == 'F' ">Female</option>  
                        </select>
                      </label>
                      <label ng-messages="edituserform.gender.$dirty && edituserform.gender.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your email</span>
                      </label>    
                        
                      <label class="item item-input item-stacked-label">
                        <span class="input-label">Date Of Birth</span>
                        <input type="text" ng-model="edituser.dob" name="dob" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder={{profile.description.DateOfBirth}} required >
                      </label>
                      <label ng-messages="edituserform.dob.$dirty && edituserform.dob.$error" style="color:#F70000" role="alert">
                                <span ng-message="required">You did not enter your email</span>
                      </label>    
                            
                            

                    </div>
                    <button class="button button-block button-mybuttoncolor" ng-click='edituserform.$valid &&  saveuser(edituser);'>Save </button>     
                    </form>    
                </div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>