<ion-view view-title="Profile" ng-controller="ProfileCtrl">
<ion-header-bar align-title="center" class="common-header">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">Profile</h1>
</ion-header-bar>

<ion-content class="has-header">
    <ion-scroll>
        <div class="row profile">
            <div class="col">
                <div class="list">
                    <a class="item item-thumbnail-left">
                      <img src="../img/malecostume-512.png">
                      <h2>{{profile.description.FirstName}} {{profile.description.LastName}}</h2>
                      <p>Last Login : <span am-time-ago="profile.description.LastLoginDate"></span></p>
                      <a class="button button-profileditbutton" ui-sref='app.editprofile' >Edit Details</a>    
                          
                    </a>
                </div>
            </div>
<!--
            <div class="col profile-header">
                <img src="../img/malecostume-512.png">
                <h3>{{profile.description.FirstName}} {{profile.description.LastName}}</h3>
                <p> Last Login : <span am-time-ago="profile.description.LastLoginDate"></span></p>
            </div>
-->
        </div>
        <div class="row">
            <div class="col  padding profileDetails" >
                <div class="list">
                    <div class="item item-divider">
                    First Name
                    </div>
                    <a class="item item-detail" >
                    {{profile.description.FirstName}}
                    </a>
                    <div class="item item-divider">
                    Last Name
                    </div>
                    <a class="item item-detail">
                    {{profile.description.LastName}}
                    </a>
                    <div class="item item-divider">
                    Email
                    </div>
                    <a class="item item-detail">
                    {{profile.description.EmailId}}
                    </a>
                    
                    <div class="item item-divider">
                    Mobile
                    </div>
                    <a class="item item-detail">
                    {{profile.description.Contact}}
                    </a>
                    <div class="item item-divider">
                    Date Of birth
                    </div>
                    <a class="item item-detail">
                    {{profile.description.DateOfBirth | amUtc | amLocal | amDateFormat:'DD.MM.YYYY'}}    
                    </a>
                    <div class="item item-divider">
                    Account Created On
                    </div>
                    <a class="item item-detail">
                    {{profile.description.CreatedDate | amUtc | amLocal | amDateFormat:'DD.MM.YYYY'}} At
                    {{profile.description.CreatedDate | amUtc | amLocal | amDateFormat:'HH:mm:ss'}}    
                    </a>

                </div>
<!--                <button class="button button-block button-mybuttoncolor">Edit Details</button>-->
            </div>
        </div>
    </ion-scroll>
</ion-content>
</ion-view>    