<ion-view  view-title="Service" ng-controller="ViewserviceCtrl" class="viewservice"> 
<ion-header-bar align-title="center" class="common-header">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <h1 class="title">Service</h1>
</ion-header-bar>
<ion-content class="has-header main-content">
     <div class="card">
      <div class="item item-divider">
        {{jobrequestDetails.JOB.JobName}}
      </div>
      <div class="item item-text-wrap">
        
        <p><label class="request-label">Registered At</label>:<span am-time-ago="jobrequestDetails.JOB.CreatedDate"></span></p>
        <p><label class="request-label">Expected Date At</label>:<span am-time-ago="jobrequestDetails.JOB.CustomerExpectedDate"></span></p>
        <p><label class="request-label">Status</label>:<span>{{ jobrequestDetails.JOB.JobStatus == 0 ? 'pending' : 'completed' }}</span> </p>
        <p><label class="request-label">Addess</label>:</p>
        <p>{{jobrequestDetails.JOB.UserAddress.AddressLine1}} , {{jobrequestDetails.JOB.UserAddress.AddressLine2}} ,{{jobrequestDetails.JOB.UserAddress.City}} ,{{jobrequestDetails.JOB.UserAddress.State}} ,{{jobrequestDetails.JOB.UserAddress.Zip}} ,{{jobrequestDetails.JOB.UserAddress.Country}}</p>  
        <p><label class="request-label">Details</label>:</p>
        <p>{{jobrequestDetails.JOB.JobDetails}}  </p>
       
        
      </div>
      <div class="item item-text-wrap">
        <img ng-repeat="image in jobrequestDetails.JobImage" ng-src="image">
      </div>     
      </div>
      <div class="row">
         <div class="col col-50">
         <button class="button button-block button-mybuttoncolor" ng-click="modal.show();">Send Estimate</button>
         </div>       
         <div class="col col-50">
             <button class="button button-block button-mybuttoncolor" ui-sref='app.services'>Cancel</button> 
         </div>       
      </div>    
</ion-content>    
</ion-view>    