/* Empty. Add your own CSS if you like */
.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #08f274;
  fill: #08f274;
/*  background-color: aquamarine;    */
}
/*popup header*/
.popup-head {
  background-color: #45DCBB;
}
.popup-title {
  color: #fff;
}
.content-scroll{
    overflow: auto;
}
.scroll {
  height: 100%;
}
.main-content{
    background-color: #f7f7f7;
}
.button-mybuttoncolor{
    background-color: #45DCBB;
    color: #ffffff;
}
.common-header{
    background-color:#45DCBB;
    color: #ffffff;
}
.common-header h1{
    color: #ffffff;
}
.common-header .button-icon{
    color: #ffffff;
}
/* LOGIN*/
.login-background{
    background-image: url("../img/bg.png");
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container {
    position: absolute;
        top: 55%;
}
.login-username{
   margin: 5px 2px;
   border-radius: 40px; 
}
.login-password{
  margin: 5px 2px;
  border-radius: 40px;  
}
.login-username .icon , .login-password .icon{
   color: #45DCBB;
   font-size: 24px;    
}

.login-button{
    border-radius:40px;
    background-color: #45DCBB;
    color: #ffffff;
}
.login-register{
/*
    position: absolute;
    bottom: 0;
*/
    text-align: center;
}
.login-register p{
    color: #ffffff;
    display: inline;
    font-size: 18px;
}
.login-register a{
    color: #45DCBB;
    font-size: 18px;
}
.login-errors{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.login-errors span{
    color: #fff;
    font-size: 12px;
    width: 100%;
    text-align: center;
}
/*SIDEMENU*/
.sidemenu{
    background-color: #34373C;
}
.sidemenu .list{
    background-color: transparent;
}
.sidemenu .list .item{
    background-color: transparent;
    border-color: transparent;
    color: #ffffff;
/*    margin-bottom: 5px;*/
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    -webkit-box-shadow: 1px 1px 0px -1px #222222;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:1px 1px 0px -1px #222222; /* Firefox 3.5 - 3.6 */
    box-shadow:1px 1px 0px -1px #222222; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

}
.sidemenu .list .item-icon-left .icon{
    font-size: 25px;
}
.sidemenu .list .item h2{
    color: #ffffff;
}
.sidemenu .list .item p{
    color: #ffffff;
}
.sidemenu-profile{
    padding-bottom: 8px;
    padding-top: 10px;
    text-align: center;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 34%, #45dcbb 37%, #45dcbb 50%, #45dcbb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ffffff 34%,#45dcbb 37%,#45dcbb 50%,#45dcbb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ffffff 34%,#45dcbb 37%,#45dcbb 50%,#45dcbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#45dcbb',GradientType=1 );
    border: 0;
}
.sidemenu-profile img{
    max-width: 100px;
    max-height: 100px;
}

/*Dashboard*/
.dashboard{
    background-image: url("../img/dashbg.png");
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
}
.profileInfo{
    height: 190px;
    
}
.profileInfo .profilePic{
    width: 70px;
    height: 70px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}
.profileInfo p{
    font-size: 15px;
    display: block;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
}
.profileInfo h3{
    font-size: 20px;
    display: block;
    text-align: center;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*User Profile*/
/*User Profile*/
.profile{
    height: 180px;
    background-image: url("../img/dashbg.png");
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
}
.profile .col .list {
    margin-top: 130px;
}
.profile .col .list .item{
    border:0;
    background-color: transparent;
}
.profile .col .list .item img{
    top: 0px;
    left: 10px;
    max-width: 100px;
    max-height: 100px;
}
.profile .col .list .item h2{
    color: #ffffff;
    font-size: 25px;
    margin-left: 15px;
}
.profile .col .list .item p{
        color: #222;
    margin-left: 11px;
    margin-top: 15px;

}

.profile .button-profileditbutton{
    background-color: #45DCBB;
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
    min-height: 32px;
    
}
.profileDetails{
    margin-top: 75px;
}
.profileDetails .item{
    font-size: 13px;
}.profileDetails .item-note{
    font-size: 16px;
}
/*Services*/
.services h4{
    text-align: center;
    font-size: 18px;
    color: #45DCBB;
}
/* View Service*/
.viewservice .card .item-divider{
    background-color: #45DCBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.viewservice .card .item-text-wrap .request-label{
    width: 50%;
    display: inline-block;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.viewservice .card .item-text-wrap p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.viewservice .card .item-text-wrap span{
    padding: 0 10px;
}

/* Estimates*/
.estimates h4{
   text-align: center;
    font-size: 18px;
    color: #45DCBB; 
}

/* View Estimates*/
.viewestimate .card .item-divider{
    background-color: #45DCBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.viewestimate .card .item-text-wrap .request-label{
    width: 50%;
    display: inline-block;
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}
.viewestimate .card .item-text-wrap p{
    margin-top: 20px;
    margin-bottom: 10px;
}
.viewestimate .card .item-text-wrap span{
    padding: 0 10px;
}
/* Send Feedback*/
 .ratings{
    text-align: center;
    color: #f0df0f;
    font-size: 40px;
}
